{% include global_head.html %}

<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="main-container">
    <div class="main wrapper clearfix">

        <article>
            <section>
                <h2>index</h2>
                <p>system running at 127.0.0.1:8080</p>
            </section>
        </article>

    </div>
</div>

{% include global_footer.html %}